@import '../common.scss';
/* @import url(https://fonts.googleapis.com/css?family=Khand); */

nav{
	font-family: 'Khand', Impact, sans-serif;
	a {
	  text-transform: uppercase;
	}
}

	.navbar-inverse {
	.navbar-brand{
	    cursor: crosshair;
		color: red;
		font-size: 25px;
		}
	}