<section >

  <loader ng-if="vm.loading"></loader>

  <div ng-show="!vm.loading" class="animated fadeIn">



    <div class="chart" >

      <div class="row graph-toolbox">

        <div class="col-sm-4">
         <div class="input-group col-sm-12">
          <input type="text" ng-keyup="$event.keyCode == 13 && vm.searchCharacter(vm.nameBeginsWith);" class="form-control" ng-model="vm.nameBeginsWith" placeholder="Search character Ex: Spider" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="vm.searchCharacter(vm.nameBeginsWith);" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>

      </div>

      <div class="col-sm-4 text-center">
      </div>
      <div class="col-sm-4"> 
        <div class="btn-group pull-right" role="group" >
        <!--
          <button type="button" ng-click="vm.pan(0, -50);" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
          <button type="button" ng-click="vm.pan(0, 50);" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
          <button type="button" ng-click="vm.pan(1, -50);" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
          <button type="button" ng-click="vm.pan(1, 50);" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></button>
          -->
          <button type="button" ng-click="vm.zoom(+0.20);" class="btn btn-default"><span class="glyphicon glyphicon-zoom-in"></span></button>
          <button type="button" ng-click="vm.zoom(-0.20);"class="btn btn-default"><span class="glyphicon glyphicon-zoom-out"></span></button>
        </div>
      </div>

    </div><!-- /.row -->


  </div>
</div>

</section>
