<div>

  <loader ng-if="$ctrl.loading"></loader>

  <div ng-if="!$ctrl.loading" class="character-box row">
    <div class="col-sm-4">
     <img class="animated fadeIn character-thumbnail" 
      ng-src="{{ $ctrl.character.thumbnail.path }}.{{ $ctrl.character.thumbnail.extension }}">
   </div>
   <div class="col-sm-8">
     <h1 class="title animated flipInX">{{ $ctrl.character.name }}</h1>

     <div class="description"  >{{$ctrl.character.description}}</div>

     <div class="row cthumbnail">
       <div title="{{comic.title}}" ng-repeat="comic in $ctrl.comics track by $index" class="col-sm-3 cthumbnail__box animated fadeIn">
        <a class="cthumbnail__link" ui-sref="comic({id:comic.id})"><img  onload="this.style.display = 'block';" class="cthumbnail__img animated rotateIn" ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" ></a>
       </div>
     </div>
  </div>


</div>
</div>
