<div>
  <div ng-if="$ctrl.loading" class="animated fadeIn">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
      Loading character...
    </div>
  </div>
  <div ng-if="!$ctrl.loading" class="character-box row">
    <div class="col-sm-4">
     <img class="animated fadeIn character-thumbnail" 
      ng-src="{{ $ctrl.character.thumbnail.path }}.{{ $ctrl.character.thumbnail.extension }}">
   </div>
   <div class="col-sm-8">
     <h1 class="title animated flipInX">{{ $ctrl.character.name }}</h1>
     <div>{{ $ctrl.character.description }}</div>
     <div class="row rotate">

       <div title="" ng-repeat="comic in $ctrl.comics track by $index" class="col-sm-3 img animated fadeIn">
        <a ui-sref="comic({id:comic.id})"><img  ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" ></a>
       </div>
     </div>
  </div>


</div>
</div>
